@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{text-decoration: none;color: inherit;}
body,html{font-family: 'Noto Sans KR', sans-serif;color: #333}
.inner{width: 1200px;margin: auto;}
.hide{text-indent: -99999px;position: absolute;left: -99999px;overflow: hidden}

/* 탑 배너 */
.top_banner{background: #d6edff;position: relative;height: 50px}
.top_banner .inner{position: relative;}
.top_banner a{position: absolute;display: block;right: 0;top: 50%;transform: translateY(-50%);}
.top_banner a:after{content: '';display: inline-block;background: url(../images/close_btn.png) no-repeat;width: 12px;height: 12px;margin-left: 10px}

/*header*/
.util_wrap{display: flex;justify-content: flex-end;margin-top: 20px;}
.util_wrap li{font-size: 14px;margin-right: 20px;padding-right: 20px;position: relative;}
.util_wrap li:after{content: '';display: block;width: 1px;height: 14px;background: #dddddd;position: absolute;right: 0;top: 50%;transform: translateY(-50%);}
.util_wrap li:last-child{margin-right: 0;padding-right: 0}
.util_wrap li:last-child:after{display: none}
#header{position: relative;} 
#header .logo{margin-top: 10px;}
#header .logo img{display: block;}
#header .header_top{padding: 10px 0 50px 0}
#header .inner{position: relative}
#header .search_wrap{border-bottom: 1px solid #7e7e7e;width: 380px;padding: 10px 0;display: flex;position: absolute;left: 50%;transform: translateX(-50%);bottom: 30px}
#header .search_wrap input{border: 0;width: calc(100% - 20px);font-family: 'Noto Sans KR'}
#header .search_wrap input::placeholder{color: #cccccc;}
#header .search_wrap button{display: block;background: url(../images/search_btn.png) no-repeat;width: 14px;height: 14px;border: 0;text-indent: -9999px;}
#header .header-nav{border-top:1px solid #dddddd;border-bottom: 1px solid #dddddd }
#header .header-nav a{font-size: 16px; }
#header .header-nav .all_menu{border-right: 1px solid #ddd;position: relative;}
#header .header-nav .all_menu a{display: flex;padding: 20px 60px 20px 0;}
#header .header-nav .all_menu .menu{margin-right: 10px;margin-top: 1px}
#header .header-nav .all_menu .menu span{width: 15px;height: 2px;background: #333;display: block;}
#header .header-nav .all_menu .menu span:nth-child(2){width: 10px;margin: 5px 0}
#header .header-nav .all_menu:after{content: '';display: block;background:  url(../images/menu_arrow.png) no-repeat;width: 12px;height: 7px;position: absolute;right: 30px;top: 50%;transform: translateY(-50%)}
#header .header-nav .all_menu.active:after{transform: rotate(180deg);margin-top: -5px}
#header .header-nav .inner{display: flex;}
#header .header-nav .gnb{display: flex;}
#header .header-nav .gnb li a{padding: 20px;display: block;}
#header .header-nav .gnb_right{margin-left: auto}
#header .mega_menu{position: absolute;background: #fff;width: 100%;z-index: 555;box-shadow: 0 10px 10px rgba(221, 221, 221, 0.26);display: none}
#header .mega_menu #mega_gnb{display: flex;padding: 30px 0 50px 0;;z-index: 999}
#header .mega_menu #mega_gnb > li + li{margin-left: 50px}
#header .mega_menu #mega_gnb .tit{font-weight: 500;margin-bottom: 10px;color: #0082cc}
#header .mega_menu #mega_gnb li ul li + li{margin-top: 5px}

.visual {position: relative;}
/* 메인 배너 */
.visual_wrap{overflow: hidden;width: 1200px;margin: auto;}
.visual{margin: 30px 0}
.visual .swiper-slide{border-radius: 10px;overflow: hidden}
.visual .swiper-slide img{display: block;border-radius: 10px;overflow: hidden;width: 100%}
.swiper_bottom{background: #fff;width: 290px;position: absolute;bottom: -25px;left: 50px;box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);height: 50px;z-index: 222;border-radius: 10px;}
.swiper_bottom .wrap-autoplay-control button{width:9px;height: 13px;cursor: pointer;border: 0;position: absolute;left: 30px;top: 50%;transform: translateY(-50%);border: 0;display: block;text-indent: -9999px;}
.swiper_bottom .wrap-autoplay-control .swiper-button-pause{background: url(../images/stop_btn.png) no-repeat;}
.swiper_bottom .wrap-autoplay-control .swiper-button-play{background: url(../images/play_btn.png) no-repeat center;display: none}
.swiper_bottom .swiper-button-prev:after,
.swiper_bottom .swiper-button-next:after{display: none}
.swiper_bottom .swiper-button-prev,
.swiper_bottom .swiper-button-next{width: 14px;height: 12px;top: 50%;transform: translateY(-50%);margin-top: 0}
.swiper_bottom .swiper-button-prev{background: url(../images/mv_prev.png) no-repeat;left: 60px;}
.swiper_bottom .swiper-button-next{background: url(../images/mv_next.png) no-repeat;left: 90px;right: auto}
.swiper_bottom .swiper-pagination{width: 100px;position: absolute;left: auto;right: 50px;top: 50%;transform: translateY(-50%);height: 1px;}
.swiper_bottom .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{background: #1689cf }
.swiper_bottom .swiper-counter{font-size: 13px;}
.swiper_bottom .swiper-counter .count{color: #1689cf;position: absolute;right:157px;top: 50%;transform: translateY(-50%)}
.swiper_bottom .total{position: absolute;right: 30px;top: 50%;transform: translateY(-50%)}

.section{margin: 60px 0}
.main_tit{font-size: 24px;font-weight: 600;}

/* 인기 강좌 */
.lecture_list{position: relative;}
.lt_swiper-button-next,
.lt_swiper-button-prev{width: 17px;height: 52px;text-indent: -9999px;position: absolute;top: 50%;transform: translateY(-50%);cursor: pointer}
.lt_swiper-button-next{background: url(../images/slide_next.png) no-repeat;right: -50px;}
.lt_swiper-button-prev{background: url(../images/slide_prev.png) no-repeat;left: -50px;}
.swiper-button-disabled{opacity: 0.3}
.lecture_list .swiper-container{overflow-x: hidden;overflow-y: visible !important;}
.lecture_list .item{border-radius: 10px;overflow: hidden;border: 1px solid #dddddd;margin-top: 20px;box-sizing: border-box}
.lecture_list .item .img{height: 180px;position: relative;}
.lecture_list .item a{display: block;width: 100%;height: 100%;}
.lecture_list .item .img img{display: block;width: 100%;height: 100%;}
.lecture_list .item .img .like{position: absolute;right: 20px;top: 20px;background: url(../images/like_btn.png) no-repeat;width: 20px;height: 17px;text-indent: -9999px;border: 0;cursor: pointer;z-index: 55}
.lecture_list .item .img .like.active{background: url(../images/like_btn_active.png) no-repeat;}
.lecture_list .item .text{padding: 20px;position: relative}
.lecture_list .item .text .state{display: inline-block;font-size: 12px;background: #ccc;padding: 5px 8px;color: #fff;border-radius: 5px;font-family: '굴림', 'Gulim';position: absolute;left: 20px;top: -10px}
.lecture_list .item .text .state.blue{background: #0c92b9;}
.lecture_list .item .text .state.orange{background: #b9510c}
.lecture_list .item .text .state.green{background: #45b90c}
.lecture_list .item .text .tit{font-size: 16px;overflow: hidden;font-weight: 600;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;line-height:25px; height:50px;}
.lecture_list .item .text ul{margin-top: 20px}
.lecture_list .item .text ul li{font-size: 14px;color: #888888;padding-left: 25px;position: relative;}
.lecture_list .item .text ul li + li{margin-top: 10px;}
.lecture_list .item .text ul li.date:before{content: '';display: block;background: url(../images/date_ico.png) no-repeat;width: 16px;height: 16px;position: absolute;left: 0;top: 50%;transform: translateY(-50%)}
.lecture_list .item .text ul li.name:before{content: '';display: block;background: url(../images/name_ico.png) no-repeat;width: 16px;height: 16px;position: absolute;left: 0;top: 50%;transform: translateY(-50%)}
.lecture_list .item:hover,
.lecture_list .item:active,
.lecture_list .item:focus{margin-top: -0;box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);transition: all 0.3s}

/* 리얼후기 */
.review_area{position: relative;}
.review_area .lt_swiper-button-next, 
.review_area .lt_swiper-button-prev{margin-top: 16.5px}
.review_area .swiper-container{overflow: hidden}
.review_area .rate{background: url(../images/star_bg.png) no-repeat;width: 86px;height: 13px;position: relative;}
.review_area .rate span{position: absolute;background: url(../images/star.png);width: auto;height: 13px;}
.review_area .item{background: #f8f8f8;padding: 20px;border-radius: 10px;border: 1px solid #dddddd;margin-top: 50px;box-sizing: border-box;height: auto}
.review_area .img{width: 65px;height: 65px;border-radius: 50%;position: absolute;top: -32.5px}
.review_area .top{display: flex;justify-content: space-between;margin-left: 80px;align-items: center;margin-bottom: 20px}
.review_area .tit{font-size: 13px;color: #0082cc;margin-bottom: 10px;}
.review_area .desc{font-size: 16px;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;-webkit-box-orient: vertical;line-height:25px; max-height:75px;overflow: hidden}

/*공지사항*/
.notice_tit{display: flex;justify-content: space-between;align-items: center;margin-bottom: 20px;}
.notice_tit .more{background: url(../images/plus.png) no-repeat;width: 20px;height: 20px;text-indent: -9999px;display: block;transition: all 0.3s}
.notice_tit .more:hover,
.notice_tit .more:active,
.notice_tit .more:focus{transform: rotate(30deg)}
.notice{display: flex;}
.notice .item{border: 1px solid #dddddd;border-radius: 10px;width: calc(33.333% - 13.333px);margin-right: 20px;}
.notice .item a{display: block;padding: 20px;}
.notice .item:last-child{margin-right: 0}
.notice .item .tit{font-weight: 500;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;line-height:25px; max-height:50px;overflow: hidden;margin-bottom: 15px;}
.notice .item .date{font-size: 14px;color: #888888}
.notice .item:hover .tit,
.notice .item:active .tit,
.notice .item:focus .tit{text-decoration: underline}

/* 배너 */
.area_banner{display: flex;margin-bottom: 20px}
.area_banner div{background: #d9e2fe;border-radius: 10px;overflow: hidden;margin-right: 20px;width: calc(50% - 10px)}
.area_banner div:last-child{margin-right: 0}
.area_banner div img{display: block;width: 100%}

/* 뉴스레터 */
.newsletter{background: url(../images/newsletter_img.png) no-repeat right 60px center #d9e2fe;  ;padding: 50px 40px;border-radius: 10px;}
.newsletter .tit{font-size: 20px;font-weight: 500;}
.newsletter .desc{margin: 20px 0}
.newsletter .input_wrap{display: flex;}
.newsletter .input_wrap input{font-family: 'Noto sans KR';border: 0;height: 40px;padding: 20px;box-sizing: border-box;border-radius: 5px;width: 500px;margin-right: 10px;}
.newsletter .input_wrap input::placeholder{color: #dddddd;}
.newsletter .input_wrap  button{background: #2b45ca;color: #fff;font-weight: 500;font-family: 'Noto Sans Kr';width: 150px;border-radius: 5px;border: 0}

/* footer */
#footer{background: #f6f6f6;margin-top:60px;border-top:1px solid #dddddd;padding:  40px 0;color: #484848;font-size: 14px}
#footer .bold{font-weight: 500}
#footer .top{display: flex;align-items: center;margin-bottom: 30px}
#footer .top .logo{margin-right: 60px;}
#footer .top .info_menu{display: flex;align-items: center;font-size: 14px;}
#footer .top .info_menu li{margin-right: 40px;}
#footer .bottom span{display: inline-block;margin-right: 40px;}
#footer .bottom span.bold{margin-right: 30px}
#footer .bottom p{margin: 10px 0}


/* -----------반응형 start---------*/
@media all and (max-width:1200px){
    .inner,.visual_wrap{width: calc(100% - 40px)}
    .lecture_list,
    .review_area{padding: 0 50px;}
    .lt_swiper-button-next{right: 0}
    .lt_swiper-button-prev{left: 0}
    
}

@media all and (max-width:1024px){
    /* header */
    .top_banner {display: none}
    #header .search_wrap{width: 100%;bottom: 0}
    #header .header-nav{border-top: 0;border-bottom: 0;}
    #header .header-nav .gnb{display: none}
    #header .header-nav{position: absolute;right: 30px;top: 20px;}
    #header .header-nav .all_menu .menu{margin-right: 0}
    #header .header-nav .all_menu{border-right: 0;}
    #header .header-nav .all_menu a{padding: 0;width: 15px;display: block;width: 15px;height: 17px;text-indent: -9999px;}
    #header .header-nav .all_menu:after{display: none;}
    #header .mega_menu #mega_gnb{display: block;height: calc(100vh - 207px);overflow-y: auto;}
    #header .mega_menu #mega_gnb > li + li{margin-left: 0;margin-top: 20px;}
    .lock{overflow: hidden;width: 100%;height: 100vh;}
    #header .header-nav .all_menu.active{margin-top: 6px}
    #header .header-nav .all_menu.active span{transition:all 0.3s }
    #header .header-nav .all_menu.active span:nth-child(2){display: none}
    #header .header-nav .all_menu.active span:nth-child(1){transform: rotate(45deg);}
     #header .header-nav .all_menu.active span:nth-child(3){transform: rotate(-45deg);margin-top: -2px}
    
    /*뉴스레터*/
    .newsletter{background-image: none;}
    
}

@media all and (max-width:768px){
    /*header*/
    .util_wrap li{margin-right: 10px;padding-right: 10px;}
    .util_wrap li a{font-size: 13px}
    
    /*visal*/
    .swiper_bottom{left: 50%;transform: translateX(-50%)}
    
    .section{margin: 40px 0}
    .main_tit{font-size: 18px;}
    
    /* 인기 강좌 */
    .lt_swiper-button-next,
    .lt_swiper-button-prev{background-size: 10px;width: 10px;height: 28px}
    .lecture_list .item .text .tit{font-size: 15px}
    .lecture_list .item .text ul li{font-size: 13px}
    
    /*리뷰*/
    .review_area .img{left: 50%;transform: translateX(-50%)}
    .review_area .top{margin-left: 0;margin-top: 30px}
    .notice{display: block;}
    .notice .item{width: 100%;}
    .notice > div + div{margin-top: 20px}
    .review_area .desc{font-size: 15px}
    
    /*공지사항*/
    .notice .item .tit{font-size: 15px}
    .notice .item .date{font-size: 13px}
    
    /* 서브배너 */
    .area_banner{display: block;}
    .area_banner div{width: 100%;margin-bottom: 20px;}
    .area_banner div:last-child{margin-bottom: 0}
    
    /*뉴스레터*/
    .newsletter{padding: 30px 20px}
    .newsletter .input_wrap input{width: calc(100% - 100px);padding: 10px}
    .newsletter .input_wrap button{width: 100px}
    .newsletter .tit{font-size: 17px}
    .newsletter .desc{font-size: 14px}
    
    /*footer*/
    #footer{margin-top: 40px;padding: 20px 0}
    #footer .top{display: block;margin-bottom: 10px}
    #footer .top .logo{margin-bottom: 20px}
    #footer .top .info_menu li{margin-right: 10px}
    #footer .bottom span.bold{margin-right: 15px}
    #footer .bottom span{margin-right: 15px}
    #footer .contact span{display: block;margin-bottom: 5px;}
    #footer .contact span:last-child{margin-bottom: 0;}
}


@media all and (max-width:480px){
    
}